/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End Normalize.css */ 

/* Helpers */

.clear {
	clear:both;
	height:1px;
	margin:0;
	padding:0;
	font-size: 1px;
	line-height: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#accessibility, .invisible {
	position: absolute;
	top: -999em;
	left: -999em;
}
a {
	outline: 0 !important;
}

.block {
	display:block !important;
}
.inline {
	display: inline !important;
}
.pointer {
	cursor:pointer !important;
}
.indent {
	text-indent: -9000px !important;
}
.noborder_t {
	border-top:0 !important;
}
.noborder_r {
	border-right:0 !important;
}
.noborder_b {
	border-bottom:0 !important;
}
.noborder_l {
	border-left:0 !important;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.center {
	text-align:center;
}
.justify {
	text-align:justify;
}
.imgLeft {
	float:left;
	margin:5px 9px 10px 0;
}
.imgRight {
	float:right;
	margin:5px 0 10px 9px;
}
.imgCenter {
	text-align:center;
	padding:15px 0;
}
img, a img {
	border:0;
}
.no_border {
	border: 0 none !important;
}
.no_bg {
	background: none !important;
}
.no_margin {
	margin: 0 !important;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.list_reset, .list_reset li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list_reset {
	margin: 0 0 1em;
}
.no_padding {
	padding: 0 !important;
}
.no_bold {
	font-weight: 300;
}
.no_underline {
	text-decoration: none;
}
.no_underline {
	text-decoration: none;
}
.no_underline:hover {
	text-decoration: underline;
}

/* Typography*/

body {
	text-align:left;
	font-size: 12px;
	color: #000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
img {
	border: 0;
}
a, a:link a:active {
	text-decoration: none;
	color: #000;
}
a:visited {
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	line-height: 1em;
}
h2 {
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 1em;
	line-height: 1em;
}
h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 0 1em 0;
	line-height: 1em;
}
h4 {
	font-size: 1.2em;
	font-weight: 300;
	margin: 0 0 1em;
	padding:0;
	line-height: 1em;
}
h5 {
	font-size: 1em;
	margin: 0;
	padding:0;
}
h6 {
	font-size: 1em;
	margin: 0 0 0 0;
	padding:0;
}
p {
	font-size: 1em;
	margin:0 0 1em;
	padding:0;
	line-height:1.4em;
}
blockquote {
	border-left:10px solid #ddd;
	margin-left:10px;
}
pre {
	display: block;
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	background-color: #eee;
	margin: 0 16px 10px 16px;
	padding: 2px;
}
code {
	display: block;
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	background-color: #eee;
}
strong, b {
	font-weight: bold;
}
em, i {
	font-style:italic;
}
ul {
	margin: 0 0 1.5em 20px;
	padding: 0;
	font-size:1em;
}
ul li {
	margin: 0 0 0.25em 10px;
	padding: 0;
	line-height:1.4em;
}
ol {
	margin: 0 0 1.5em 20px;
	padding:0;
	line-height: 1.4em;
	font-size:1em;
}
ol li {
	margin: 0 0 0.25em 10px;
	padding: 0;
}
dl {
	margin: 0 0 1.5em 0;
	padding: 0;
	line-height:130%;
	font-size:1em;
}
dl dt {
	margin: 0.25em 0 0 0;
	padding: 0;
}
dl dd {
	margin: 0 0 0 20px;
	padding: 0;
}
table {
	margin: 0 0 1.5em 0;
	font-size: 1em;
}
table caption {
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0 0 0.5em 0;
	text-align: left;
}
th {
	font-weight: bold;
	text-align: left;
}
form {
	margin: 0;
	padding: 0;
	color:  #000;
}
fieldset {
	border: 0;
	margin: 0 0;
	padding: 0;
}
label, .label {
	cursor: pointer;
	font-size: 1em;
	margin-right:4px;
}
input, input.text, input.password, input.btn, #searchsubmit {
	font: 1em Arial, Verdana, Helvetica, sans-serif;
	padding: 2px 4px;
	color:  #000;
}
textarea {
	font: 1em/1.2em Arial, Verdana, Helvetica, sans-serif;
	height: 108px;
	margin-top: 0;
	padding: 2px 4px;
	overflow: auto;
	color:  #000;
}
input.text, textarea {
	background: #FFF;
	border: #7E9DB9 solid 1px;
}
select {
	font: 1em Arial, Verdana, Helvetica, sans-serif;
	overflow:hidden;
	height:1.9em;
	vertical-align:middle;
	margin-right:4px;
	color:  #000;
}
optgroup {
	font-weight:bold;
	font-style:normal;
	vertical-align:middle;
	border-top:1px solid #DDD;
}
option {
	border-top:1px solid #DDD;
	padding:2px 5px;
	vertical-align:middle;
}
form dl, form dt, form dd {
	margin: 0;
	padding: 0;
}
form dl {
	padding: 0;
}
form dt {
	width:100%;
}
form dd {
	width:100%;
	margin-bottom: 5px;
}
button {
	cursor: pointer;
	font: 1em Arial, Verdana, Helvetica, sans-serif;
	vertical-align:bottom;
	padding: 0 5px;
}
.entry-meta {
	margin-bottom: 10px;
}
.hentry, .widget, .comment, .navigation-links {
	margin-bottom: 20px;
}
.page-title {
	font-size: 14px;
	font-weight: bold;
}
.page-title span {
	font-style: italic;
	font-weight: normal;
}
.entry-title, .entry-title a {
	color: #000;
	font-size: 24px;
	line-height: 28px;
}
.entry-title a:hover {
	color: #2361a1;
	text-decoration: none;
}
address {
	font-style: italic;
}
abbr[title], acronym[title], dfn[title] {
	cursor: help;
	border-bottom: 1px dotted #666;
}
blockquote {
	color: #666;
	font-style: italic;
	border-left: 1px solid #ddd;
	margin-left: 15px;
	padding-left: 10px;
}
code, pre {
	line-height: 15px;
}
var, kbd, samp, code, pre {
	font: 12px/1.4 Consolas, "Andale Mono", Courier, "Courier New", monospace;
	background: #fafafa;
}
kbd {
	font-weight: bold;
}
samp, var {
	font-style: italic;
}
pre {
	white-space: pre;
	overflow: auto;
	padding: 10px;
	border: 1px solid #ddd;
	clear: both;
}
code {
	padding: 0px 3px;
}

/* Wordpress Classes don't delete */

.comment-list, .comment-list .children {
	list-style: none;
}
.comment-list {
	margin-left: 10px;
}
.comment {
	margin-bottom: 40px;
}
.comment-list .children {
	margin-top: 40px;
}
.comment-meta {
	margin-bottom: 10px;
}
.commenter {
	font-size: 16px;
}
.avatar {
	float: right;
	margin: 0px 0px 10px 20px;
	border: 1px #ddd solid;
	padding: 1px;
}
#comment-form .form-section input {
	margin-right: 10px;
}
.form-section {
	margin-bottom: 10px;
}
.form-section label {
	cursor: pointer;
}
#commenter-details input {
	margin-right: 10px;
}
#allowed-tags {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	background: #fff;
	border: 1px #ddd dotted;
	border-top: none;
	width: 573px;
}
img.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}
img.alignright {
	display: block;
	float: right;
	margin: 0 0 1em 1em;
}
img.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
	margin-bottom: 1em;
}
.wp-caption {
	text-align: center;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption .wp-caption-text {
	margin: 0;
	padding: 5px;
}
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
	background: #eee;
	margin-bottom: 1.625em;
	max-width: 96%;
	padding: 9px;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}
.wp-caption .wp-caption-text, .gallery-caption {
	color: #666;
	font-family: Georgia, serif;
	font-size: 12px;
}
.wp-caption .wp-caption-text {
	margin-bottom: 0;
	padding: 10px 20px;
	position: relative;
}
#content .gallery {
	margin: 0 auto 1.625em;
}
#content .gallery a img {
	border: none;
}

.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}
.alignright {
	float: right;
	margin: 0 0 1em 1em;
}
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
/* Navigation */
.navigation {
	padding: 1em 0;
}
#wp-calendar {
	width:100%;
}
#wp-calendar caption {
	font-weight: bold;
	color: #222;
	text-align: left;
	font-size:14px;
	padding-bottom: 4px;
}
#wp-calendar thead {
	font-size:11px;
}
#wp-calendar thead th {
	text-align: center;
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	padding: 3px 0 2px;
	background: #f5f5f5;
	border:1px solid #fff;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.entry ul {
	list-style: disc;
}
.entry ol {
	list-style: decimal;
}

.ui-tabs-hide {
	display: none;
}
